@{
    ViewData["Title"] = "Home Page";
}

<!DOCKTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>Index</title>
    </head>
    <body>
        <div>
            <h1>Nossa HomePage.</h1>
        </div>
    </body>
</html>
